body {
    font-family: 'Gulzar', serif;
    margin: 0%;
}

h1 {
    font-size: 50px;
    padding: 0%;
    border: 0;
    margin: 0;
}

.orange {
    color: orangered;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    padding: 5%;
}

.half-width img {
    width: 80%;
}

.Hire-me-button {
    text-decoration: none;
    color: rgb(251, 251, 251);
    background-image: linear-gradient(orange, red);
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 900;
}

.top {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}